body {
    background-color: #F9E897;
    font-family: "Roboto Slab", sans-serif;
    letter-spacing: 1,5px;
    color: #444;
    width: 80%;
    margin: 0 auto;
    padding: 2% 0;

}

main {
    background-color: white;
    border-radius: 5px;
}

h1, h2 {
    color: rgb(140, 76, 8);;

}

section {
    margin-top: 0px;
    padding-bottom: 5px;
    border-top: solid 1px grey;

}

